<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <od_optimizer>
            <move_js_bottom_page>
                <enable>1</enable>
                <exclude_controllers>[]</exclude_controllers>
                <exclude_paths>[]</exclude_paths>
                <how_to>
                    <![CDATA[Add attribute `nodefer` to prevent defer. For example: <script nodefer type="text/javascript"...]]>
				</how_to>
            </move_js_bottom_page>
            <js_load_delay>
                <enable>0</enable>
                <timeout_delay>5</timeout_delay>
                <exclude_controllers>[]</exclude_controllers>
                <exclude_paths>[]</exclude_paths>
                <how_to>
                    <![CDATA[Add attribute `nolazy` to prevent lazy loading. For example: <script type="text/javascript" nolazy>...]]>
                </how_to>
            </js_load_delay>
            <lazy_load_image>
                <enable>1</enable>
                <exclude_controllers>[]</exclude_controllers>
                <exclude_paths>[]</exclude_paths>
                <exclude_image_html_class><![CDATA[{"_1653491087836_836":{"html_class":"gallery-placeholder__image"}}]]></exclude_image_html_class>
            </lazy_load_image>
            <remove_base_url>
                <enable>0</enable>
                <exclude_controllers>[]</exclude_controllers>
                <exclude_paths>[]</exclude_paths>
                <info>
                    <![CDATA[Saves 55 bites on default Magento installation. Execution time about 0.000188 sec. So check profit if you decide enable it.]]>
                </info>
            </remove_base_url>
        </od_optimizer>
    </default>
</config>
