<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<od_optimizer>
			<general>
				<enable/>
				<how_to><![CDATA[
					Add attribute `nodefer` to prevent defer. For example: <script nodefer type="text/javascript"...
				]]></how_to>
			</general>
		</od_optimizer>
	</default>
</config>
